.intro {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: Monospace;
    font-size: 20px;
}

.welcomeMsg{
    padding: 5px;
    font-family: Monospace;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.personalMsg{
    padding: 5px;
    font-family: Monospace;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.rules {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    font-family: Arial;
    font-size: 15px;
    align-items: center;
}



#intro-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

